html {
	scroll-behavior: smooth;
}
body {
    width: 1920px;
    height: 1080px;
    background-image: url(../images/bg.jpg);
    background-color: #c7b39b;
    background-repeat: no-repeat; 
	position: relative;
 	overflow-x: hidden;
	margin: 0;
	font-family: 'Roboto';
	font-size: 18px;
}
/*  */
.modal-portraits-img {
    float:left;
    margin: 7px 7px 7px 0;
    width: 300px;
	height: 400px; 
}
/* НАЧАЛО ФРАГМЕНТОВ */
    body a div  {
        z-index: 2;
        position: absolute; 
        padding:0px;
        border: 0px;
        display: inline-block;
        opacity: 0.0; /* Полупрозрачный фон */
        filter: alpha(Opacity=0); /* Прозрачность в IE */
    }
/* 1 ФРАГМЕНТ */
    /* верхний ряд */
        /* Ломоносов Михаил Васильевич */
        .img-lomonosov {
            top: 217px; 
            left: 0px;
            width: 64px;
            height: 67px;
        }
        /* Ермак Тимофеевич */
        .img-Ermak {
            top: 217px; 
            left: 64px;
            width: 61px;
            height: 96px;
        }
        /* Баранов, Александр Андреевич */
        .img-Baranov {
            top: 217px; 
            left: 125px;
            width: 65px;
            height: 92px;
        }
        /* Орловский, Борис Иванович */
        .img-Orlovskiy {
            top: 217px; 
            left: 190px;
            width: 66px;
            height: 96px;
        }
        /* Кутузов, Михаил Илларионович */
        .img-Kutuzov {
            top: 217px; 
            left: 256px;
            width: 76px;
            height: 110px;
        }
        /* Ушаков, Фёдор Фёдорович */
        .img-Ushakov {
            top: 217px; 
            left: 332px;
            width: 62px;
            height: 96px;
        }
    /* нижний ряд */
        /* Платов */
        .img-Platov {
            top: 379px; 
            left: 18px;
            width: 59px;
            height: 77px;
        }
        /* Пушкин Александр Сергеевич */
        .img-Pushkin {
            top: 358px;
            left: 76px; 
            width: 66px;
            height: 85px;
        }
        /* Ермолов, Алексей Петрович */
        .img-Ermolov {
            top: 373px;
            left: 144px;
            width: 59px;
            height: 89px;
        }
        /* Лермонтов, Михаил Юрьевич */
        .img-Lermantov {
            top: 399px;
            left: 228px;
            width: 53px;
            height: 74px;
        }
        /* Кошка, Пётр Маркович */
        .img-Koshka {
            top: 366px; 
            left: 253px;
            width: 55px;
            height: 76px;
            z-index: 1;
        }
        /* Муравьёв-Карский, Николай Николаевич */
        .img-Muravev {
            top: 404px;
            left: 313px;
            width: 63px;
            height: 77px;
        }
    /* сидит */
        /* Давыдов, Денис Васильевич */
        .img-Davidov {
            top: 525px; 
            left: 260px;
            width: 60px;
            height: 72px;
        }
/* 2 ФРАГМЕНТ */
    /* верхний ряд */
        /* Суворов, Александр Васильевич */
        .img-Suvorov {
            top: 247px; 
            left: 400px;
            width: 48px;
            height: 66px;
        }
        /* Нахимов, Павел Степанович */
        .img-Nakhimov {
            top: 306px; 
            left: 460px;
            width: 48px;
            height: 66px;
        }
        /* Толстой, Алексей Константинович */
        .img-TolstoiAK {
            top: 275px; 
            left: 498px;
            width: 48px;
            height: 66px;        
            z-index: 1;
        }
        /* Пржевальский, Николай Михайлович */
        .img-Prjevalski {
            top: 300px; 
            left: 546px;
            width: 48px;
            height: 66px;  
        }
        /* Пирогов, Николай Иванович */
        .img-Pirogov {
            top: 302px; 
            left: 583px;
            width: 48px;
            height: 66px;      
            z-index: 1; 
        }
        /* Тютчев, Фёдор Иванович */
        .img-Tutchev {
            top: 330px; 
            left: 643px;
            width: 48px;
            height: 66px;     
            z-index: 1; 
        }
    /* нижний ряд */
        /* Даша Севастопольская */
        .img-Sevastopolskaya {
            top: 409px; 
            left: 428px;
            width: 48px;
            height: 66px;   
        }
        /* Гоголь Николай Васильевич */
        .img-Gogol {
            top: 400px; 
            left: 476px;
            width: 48px;
            height: 66px;   
            z-index: 1;
        }
        /* Толстой, Лев Николаевич */
        .img-TolstoiLN {
            top: 400px; 
            left: 535px;
            width: 48px;
            height: 66px; 
        }
        /* Фет, Афанасий Афанасьевич */
        .img-Fet {
            top: 370px; 
            left: 571px;
            width: 48px;
            height: 66px; 
            z-index: 1;
        }
        /* Тургенев, Иван Сергеевич */
        .img-Turgenev {
            top: 384px; 
            left: 630px;
            width: 48px;
            height: 66px; 
        }
    /* сидят */
        /* Сеславин, Александр Никитич */
        .img-Seslavin {
            top: 614px; 
            left: 431px;
            width: 48px;
            height: 66px; 
        }
        /* Кульнев, Яков Петрович */
        .img-Kulnev {
            top: 619px; 
            left: 565px;
            width: 67px;
            height: 77px;
        }
/* 3 ФРАГМЕНТ */
    /* Блок людей */
        /* Лесков, Николай Семёнович */
        .img-Leskov {
            top: 369px;
            left: 691px;
            width: 45px;
            height: 70px;
        }
        /* Достоевский, Фёдор Михайлович */
        .img-Dostoevski {
            top: 326px; 
            left: 715px;
            width: 45px;
            height: 70px;
            z-index: 1;
        }
        /* Иоанн Кронштадтский */
        .img-Kronshtadtski {
            top: 326px; 
            left: 765px;
            width: 45px;
            height: 70px;
        }
        /* Гермоген (патриарх Московский) */
        .img-Germogen {
            top: 343px; 
            left: 870px;
            width: 45px;
            height: 70px;
        }
        /* Родионов, Евгений Александрович */
        .img-Rodionov {
            top: 328px; 
            left: 933px;
            width: 45px;
            height: 70px;
        }
        /* Иоанн (Снычёв) */
        .img-Ioann {
            top: 328px;
            left: 990px;
            width: 45px;
            height: 70px;
        }
        /* Илий (Ноздрин) */
        .img-Ilii {
            top: 337px; 
            left: 1034px;
            width: 45px;
            height: 70px;
        }
        /* Булгаков, Сергей Николаевич */
        .img-Bulgakov {
            top: 352px; 
            left: 1079px;
            width: 45px;
            height: 70px;
        }
    /* Образы-символы */
        /* Мать */
        .img-Mather {
            top: 408px; 
            left: 766px;
            width: 45px;
            height: 70px;
        }
        /* Дедушка */
        .img-Grandfather {
            top: 404px; 
            left: 966px;
            width: 45px;
            height: 70px;
        }
        /* Мальчик */
        .img-Boy {
            top: 540px; 
            left: 919px;
            width: 45px;
            height: 70px;
        }
/* 4 ФРАГМЕНТ */
    /* верхний ряд */
        /* Шаляпин, Фёдор Иванович */
        .img-Shalyapin {
            top: 213px; 
            left: 1283px;
            width: 45px;
            height: 70px;
        }
        /* Вяльцева, Анастасия Дмитриевна */
        .img-Valiceva {
            top: 211px; 
            left: 1337px;
            width: 45px;
            height: 70px;
        }
        /* Тальков, Игорь Владими */
        .img-Talkov {
            top: 202px; 
            left: 1401px;
            width: 45px;
            height: 70px;
        }
        /* Бурляев, Николай Петрович */
        .img-Byrlyaev {
            top: 207px; 
            left: 1441px;
            width: 45px;
            height: 70px;
            z-index: 1;
        }
        /* Белов, Василий Иванович */
        .img-Belov {
            top: 207px; 
            left: 1486px;
            width: 45px;
            height: 70px;
            z-index: 1;
        }
        /* Ганичев, Валерий Николаевич */
        .img-Ganichev {
            top: 177px; 
            left: 1535px;
            width: 45px;
            height: 70px;
        }
        /* Захарченко, Виктор Гаврилович */
        .img-Zaharchenko {
            top: 173px; 
            left: 1585px;
            width: 45px;
            height: 70px;
        }
    /* средний ряд */
        /* Шухов, Владимир Григорьевич */
        .img-Shuhov {
            top: 271px; 
            left: 1170px;
            width: 45px;
            height: 70px;
        }
        /* Суриков, Василий Ивано*/
        .img-Surikov {
            top: 217px; 
            left: 332px;
        }
        /* Есенин Сергей Александрович */
        .img-Esenin {
            top: 217px; 
            left: 332px;
        }
        /* Распутин, Валентин Григорье*/
        .img-Rasputin { 
            top: 217px; 
            left: 332px;
        }
        /* Михайлов, Александр Яковле*/
        .img-Mihaylov {
            top: 217px; 
            left: 332px;
        }
        /* Клыков, Вячеслав Михайлович */
        .img-Klykov {
            top: 217px; 
            left: 332px;
        }
        /* Михалков, Никита Сергее*/
        .img-Mihalkov {
            top: 217px; 
            left: 332px;
        }
    /* нижний ряд */
        /* Столыпин, Пётр Аркадьевич */
        .img-Stolypin {
            top: 217px; 
            left: 332px;
        }
        /* Скобелев, Михаил Дмитриевич */
        .img-Skobelev {
            top: 217px; 
            left: 332px;
        }
        /* Бунин, Иван Алексеевич */
        .img-Bunin {
            top: 217px; 
            left: 332px;
        }
        /* Шолохов, Михаил Александрович */
        .img-Sholokhov {
            top: 217px; 
            left: 332px;
        }
        /* Бондарчук, Сергей Фёдорович */
        .img-Bondarchuk {
            top: 217px; 
            left: 332px;
        }
        /* Поликарпов, Николай Николаевич */
        .img-Polikarpov {
            top: 217px; 
            left: 332px;
        }
        /* Чечнева, Марина Павловна */
        .img-Chechneva { 
            top: 217px; 
            left: 332px;
        }
        /* Хренников, Тихон Николаевич */
        .img-Khrennikov {
            top: 217px; 
            left: 332px;
        }
        /* Кожедуб, Иван Никитович */
        .img-Kozhedub {
            top: 217px; 
            left: 332px;
        }
    /* сидят */
        /* Андреев, Леонид Николаевич */
        .img-Andreev { 
            top: 217px; 
            left: 332px;
        }
        /* Тюленин, Сергей Гаврилович */
        .img-Tulenin {
            top: 217px; 
            left: 332px;
        }
/* 5 ФРАГМЕНТ */
    /* верхний ряд */
        /* Рубцов, Николай Михайлович */
        .img-Rubcov {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
        /* Свиридов, Георгий Васильевич */
        .img-Sviridov {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
        /* Вернадский, Владимир Иванович */
        .img-Vernadsky {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
        /* Гагарин, Юрий Алексеевич */
        .img-Gagarin {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
        /* Курчатов, Игорь Васильевич */
        .img-Kurchatov {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
    /* средний ряд */
        /* Глазунов, Илья Сергеевич */
        .img-Glazunov {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
        /* Королёв, Сергей Павлович */
        .img-Korolow {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
        /* Келдыш, Мстислав Всеволодович */
        .img-Keldish {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
        /* Шойгу, Сергей Кужугетович */
        .img-Shoigu {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
    /* нижний ряд */
        /* Рокоссовский, Константин Константинович */
        .img-Rokossowski {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
        /* Кузнецов, Николай Герасимович */
        .img-Kuznetsov {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
        /* Жуков, Георгий Константинович */
        .img-Zhukov {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
        /* Зыкина, Людмила Георгиевна */
        .img-Zikina {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
    /* сидит */
        /* Шукшин, Василий Макарович */
        .img-Shukshin {
            background-color: #c7b39b;
            position: absolute; 
            top: 217px; 
            left: 332px;
            padding:0px;
            background: #ffffff; 
            border: 0px;
        }
/* КОНЕЦ ФРАГМЕНТОВ */
